doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/common.css')
		link(rel='stylesheet', href='/stylesheets/home.css')
		script(type='text/javascript' src='https://code.jquery.com/jquery-2.2.3.min.js')
		script(type="text/javascript" src="https://cdn.firebase.com/js/client/2.4.2/firebase.js")
		script(type='text/javascript' src='javascripts/auth.js')
		script(src="https://apis.google.com/js/platform.js", async defer)
	block content

	body
		div(id='wrapper')
			block home_page_content


