extends home

block home_page_content
	h1(id='home_title')= "> " + title
	p(id='welcome_text') Welcome to #{title}
	form(id="login_form")
		input(class='Txt_input', id='txt_email', type="text", placeholder="e-mail", required)
		input(class='Txt_input', id='txt_pass', type="password", placeholder="****", required)
		input(class='Button', id='btn_login', type="submit", value="brute force")
		input(class='Button', id='btn_signup', type="submit", value="add user")
		input(class='Button', id='btn_login_google', type="submit", value="")
