doctype html
html
	head
		title= "Wall"
		link(rel='stylesheet', href='/stylesheets/common.css')
		link(rel='stylesheet', href='/stylesheets/wall.css')


	body
		div(id='wrapper')
			div(class='Box_wall' id='profile_header')
				h1(id="profile_name") Sílvio Santos

				form
					input(type='text' id='post_msg' placeholder='What are you thinking about?')
					br
					input(type='file' id='post_file')
					input(class='Button', id='submit_post', type="submit", value="Post")


		div(class='Wall' id='profile_wall')

	script(type="text/javascript" src="https://cdn.firebase.com/js/client/2.4.2/firebase.js")
	script(type='text/javascript' src='https://code.jquery.com/jquery-2.2.3.min.js')
	script(src="https://apis.google.com/js/platform.js", async defer)
	script(type='text/javascript' src='javascripts/postAndRetrieve.js')
	//script(type='text/javascript' src='javascripts/auth.js')

