doctype html
html
	head
		title= "Wall"
		link(rel='stylesheet', href='/stylesheets/common.css')
		link(rel='stylesheet', href='/stylesheets/wall.css')

	body
		div(id='wrapper')
			div(class='Box_wall' id='profile_header')
				h1(id="profile_name") Sílvio Santos
			div(class='Wall' id='profile_wall')
				div(class='Tile' id='tile000')
					div(class='thumbnail')
						img(class='profile_pic' src='/images/silvio.png')
					p(class='post_name') Silvio Santos
					p Hoje tem, hoje tem!
					img(src='/images/aviao.jpg')
				div(class='Tile' id='tile001')
					div(class='thumbnail')
						img(class='profile_pic' src='/images/mark.jpeg' )
					p(class='post_name') Mark Zimmerberg
					p This is way better than the Headbook
				div(class='Tile' id='tile002')
					div(class='thumbnail')
						img(class='profile_pic' src='/images/Sorin.jpg')
					p(class='post_name') Edward Sorin
					p I have a great idea!! I'm going to build an university in the coldest place I can find!
				div(class='Tile' id='tile003')
					div(class='thumbnail')
						img(class='profile_pic' src='/images/preto.jpg')
					p(class='post_name') Darkness
					p &#9835 Hello Darkness my old friend... &#9835
					p &#9835 I've come to talk to you again.... &#9835
				div(class='Tile' id='tile004')
					div(class='thumbnail')
						img(class='profile_pic' src='/images/dilma.jpg')
					p(class='post_name') Dilmãe
					p #naovaitergolpe
				div(class='Tile' id='tile005')
					div(class='thumbnail')
						img(class='profile_pic' src='/images/aecio.jpg')
					p(class='post_name') Aécio
					p &#8592 Se ela cair, eu assumo?
				div(class='Tile' id='tile006')
					div(class='thumbnail')
						img(class='profile_pic' src='/images/darksouls.jpg')
					p(class='post_name') Dark Souls 3
					img(src='/images/youdied.jpg' width='475px')
				div(class='Tile' id='tile007')
					div(class='thumbnail')
						img(class='profile_pic' src='/images/cat.jpg')
					p(class='post_name') Cat
					p touch tha fishy
					img(src='/images/touch_the_fishy.gif' width='475px')



	script(type='text/javascript' src='https://code.jquery.com/jquery-2.2.3.min.js')
	script(type='text/javascript' src='javascripts/auth.js')
	script(type="text/javascript" src="https://cdn.firebase.com/js/client/2.4.2/firebase.js")