doctype html
html
	head
		title= "Wall"
		link(rel='stylesheet', href='/stylesheets/common.css')
		link(rel='stylesheet', href='/stylesheets/wall.css')

	body
		div(id='wrapper')
			div(class='Box_wall' id='profile_header')
				h1(id="profile_name") Sílvio Santos
			div(class='Wall' id='profile_wall')
				div(class='Tile' id='tile000')
					div(class='thumbnail')
						img(class='profile_pic' src='/images/silvio.png')
					p(class='post_name') Silvio Santos
					p Hoje tem, hoje tem!
					img(src='/images/aviao.jpg')
				div(class='Tile' id='tile001')
					div(class='thumbnail')
						img(class='profile_pic' src='/images/mark.jpeg' )
					p(class='post_name') Mark Zimmerberg
					p This is way better than the Headbook
				div(class='Tile' id='tile002')
					p oi3

	script(type='text/javascript' src='https://code.jquery.com/jquery-2.2.3.min.js')
	script(type='text/javascript' src='javascripts/auth.js')
	script(type="text/javascript" src="https://cdn.firebase.com/js/client/2.4.2/firebase.js")