
doctype html
html
	head
		title= "Wall"
		link(rel='stylesheet', href='/stylesheets/common.css')
		link(rel='stylesheet', href='/stylesheets/wall.css')

	body
		div(id='wrapper')

			// Wall header
			div(class='Box_wall' id='profile_header')
				h1(id="profile_name") The Wall
				form(id="uploadForm" action='/wall/', method='post', enctype='multipart/form-data')
					input(type='text' id='post_msg' placeholder='What are you thinking about?')
					input(type='file', name='upl')
					input(class='Button', type='submit', id="submit_post", value="Upload!" name="submit")

			// Wall dynamic construction
			div(class='Wall' id='profile_wall')
				each f in files
					div(class='Tile' id='tile000')
						p Image name: #{f}
						img(src='uploads/' + f).Wallpic

	script(type="text/javascript" src="https://cdn.firebase.com/js/client/2.4.2/firebase.js")
	script(type='text/javascript' src='https://code.jquery.com/jquery-2.2.3.min.js')
	script(src="https://apis.google.com/js/platform.js", async defer)
	script(type='text/javascript' src='javascripts/postAndRetrieve.js')
	//script(type='text/javascript' src='javascripts/auth.js')





